html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  font-size: 10px;
}


@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
