@import "src/styles/main";

:host {
  width: 100%;

  .address-form-container {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    gap: 1rem;

    app-input {
      width: 32%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
