<app-text></app-text>
<div mat-dialog-content>
  <form [formGroup]="formGroup" class="form">
    <div class="image-container">
      <div class="image-field">
        <div [hidden]="true">
          <input (change)="onSelectFile($event)" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput/>
        </div>
      </div>
      <img [src]="imageUrl || 'assets/images/empty.jpg'" alt="Avatar">
      <button class="upload-button" mat-raised-button color="primary" (click)="fileInput.click()">{{'uploadImage'| transloco}}
        <mat-icon>publish</mat-icon>
      </button>
    </div>

    <div class="basic-info">
      <div class="field-container">
        <app-input
          [label]="'firstName' | transloco"
          formControlName="firstName"
        ></app-input>
      </div>

      <div class="field-container">
        <app-input
          [label]="'lastName'|transloco"
          formControlName="lastName"
        ></app-input>
      </div>

      <div class="field-container">
        <app-input
          [label]="'personalId'|transloco"
          formControlName="personalId"
        ></app-input>
      </div>

      <div class="field-container">
        <app-input
          [label]="'phoneNumber' | transloco"
          formControlName="phoneNumber"
        ></app-input>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>{{'gender'| transloco}}</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders$ | async" [value]="gender.id">
            {{gender.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-text>
      {{'legalAddress' | transloco}}
    </app-text>

    <app-dialog-address-form formControlName="legalAddress"></app-dialog-address-form>
    <div>
      <app-text>
        {{'actualAddress' | transloco}}
      </app-text>
    </div>
    <app-dialog-address-form formControlName="actualAddress"></app-dialog-address-form>
    <div class="accounts">
      <app-text>
        {{'accounts' | transloco}}
      </app-text>
      <ng-container formArrayName="account">

        <ng-container *ngFor="let account of accountsFormArray; let i = index">
          <div class="action-container">

            <button (click)="createAccountControl(i + 1)" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <button (click)="removeAccountControl(i)" [disabled]="accountsFormArray.length === 1" mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <app-account-form [formControl]="account"></app-account-form>
        </ng-container>
      </ng-container>

    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>{{'cancel'| transloco}}</button>
  <button (click)="submit()" [disabled]="!formGroup.valid" color="primary"
          mat-raised-button>{{'save' | transloco}}</button>
</div>

