@import "src/styles/main";

:host {
  form {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    gap: 1rem;

    .accounts {
      .action-container {
        @include flex(flex-end, center);
        width: auto;
      }
    }

    .image-container {
      @include center();
      flex-direction: column;
      width: 100%;

      .image-field {
        width: 100%;
      }

      .upload-button {
        margin-top: .5rem;
      }


      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .basic-info {
      @include flex(flex-start, center);
      gap: 1rem;
      width: 100%;
      flex-wrap: wrap;

      .field-container {
        width: 32%;
        @media (max-width: 1200px) {
          width: 48%;
        }
        @media (max-width: 992px) {
          width: 100%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }

        app-input {
          width: 100%;
        }
      }
    }
  }
}


