@import "src/styles/main";

:host {
  form {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    gap: 1rem;

    .basic-info {
      @include flex(flex-start, center);
      gap: 1rem;
      width: 100%;

      .field-container {
        width: 33%;

        app-input {
          width: 100%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}
