<form [formGroup]="formGroup" action="" class="form">
  <app-input
    [label]="'firstName' | transloco"
    formControlName="firstName"
  ></app-input>
  <app-input
    [label]="'lastName'|transloco"
    formControlName="lastName"
  ></app-input>
  <app-input
    [label]="'phoneNumber' | transloco"
    formControlName="phoneNumber"
  ></app-input>
  <div>
    <app-text>
      {{'legalAddress' | transloco}}
    </app-text>
  </div>
  <app-dialog-address-form formControlName="legalAddress"></app-dialog-address-form>
  <div>
    <app-text>
      {{'actualAddress' | transloco}}
    </app-text>
  </div>
  <app-dialog-address-form formControlName="actualAddress"></app-dialog-address-form>

  <div>
    <app-text>
      {{'account' | transloco}}
    </app-text>
    <button mat-icon-button (click)="createAccountControl()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngFor="let account of accountsFormArray; let i">
    <app-account-form [formControl]="account"></app-account-form>
  </ng-container>
</form>
