<div class="mat-elevation-z4 table-container">
  <mat-toolbar>
    <app-text>
      {{'userHandbook'| transloco}}
    </app-text>

    <app-input
    [ngModel]="filter"
    (ngModelChange)="onFilterChange($event)"
    [label]="'search'| transloco"
    ></app-input>

    <div class="action-container">
      <button
        [mdePopoverTriggerFor]="appPopover"
        mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger"
        mat-icon-button
        matTooltip="{{'search' | transloco}}">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-icon-button matTooltip="{{'addUser' | transloco}}" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <table [dataSource]="users$ | async " matSortActive="firstName" (matSortChange)="onSortChange($event)" matSort mat-table>

    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell>{{'avatar' | transloco}}</th>
      <td *matCellDef="let user" class="avatar-container" mat-cell>
        <img alt="Avatar" src="{{user.image}}">
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="firstName" >{{'firstName'|transloco}}</th>
      <td *matCellDef="let user" mat-cell> {{user.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell>{{'lastName' | transloco}}</th>
      <td *matCellDef="let user" mat-cell> {{user.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th *matHeaderCellDef mat-header-cell>{{'phoneNumber' | transloco}}</th>
      <td *matCellDef="let user" mat-cell> {{user.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="legalAddress.country">
      <th *matHeaderCellDef mat-header-cell>{{'country' | transloco}}</th>
      <td *matCellDef="let user" mat-cell> {{user.legalAddress.country}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="action-header-cell" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="edit(element)" mat-icon-button matTooltip="{{'edit'| transloco}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="removeUser(element.id)" mat-icon-button matTooltip="{{'remove'| transloco}}">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="matRowDef" mat-header-row></tr>
    <tr *matRowDef="let row; columns: matRowDef;" mat-row></tr>
  </table>
  <mat-paginator
    (page)="onPageChange($event)"
    *ngIf="users$ | async as user"
    [length]="totalCount$| async"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex -1 "
    [pageSizeOptions]="pageSizeOptions"
  >

  </mat-paginator>


</div>


<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>
      A material design popover component created using Angular version 8 with the Angular CDK.
    </mat-card-content>
  </mat-card>
</mde-popover>
