@import "src/styles/main";

:host {
  @include center();
  margin-top: 5rem;

  .table-container {
    width: 95%;
    mat-toolbar {
      width: 100%;
      @include flex(space-between, center);
      .action-container {

      }
    }
    table {
      width: 100%;

      .action-header-cell {
        width: 80px;
      }

      .avatar-container {
        height: 40px;
        width: 100px;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          @include center();
          object-fit: cover;
        }
      }
    }
  }
}
